In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./../data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1026,tt1645170,65000000,179379533,The Dictator,Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...,Larry Charles,kurd,The heroic story of a dictator who risks his l...,83,Comedy,Paramount Pictures,5/15/2012,5.9,2012
585,tt0244000,35000000,13678913,American Outlaws,Colin Farrell|Scott Caan|Ali Larter|Gabriel Ma...,Les Mayfield,Sometimes the wrong side of the law is the rig...,When a Midwest town learns that a corrupt rail...,94,Action|Western,Warner Bros. Pictures|Morgan Creek Productions,8/17/2001,5.8,2001
1498,tt0409182,160000000,181674817,Poseidon,Kurt Russell|Richard Dreyfuss|Josh Lucas|Jacin...,Wolfgang Petersen,Mayday,A packed cruise ship traveling the Atlantic is...,99,Adventure|Action|Drama|Thriller,Virtual Studios|Next Entertainment|Warner Bros...,5/12/2006,5.3,2006
626,tt1059786,80000000,178066569,Eagle Eye,Shia LaBeouf|Michelle Monaghan|Rosario Dawson|...,D.J. Caruso,Don't walk. Run.,Jerry Shaw (Shia LaBeouf) and Rachel Holloman ...,118,Mystery|Thriller|Action,DreamWorks SKG|K/O Paper Products|Goldcrest Pi...,9/25/2008,6.2,2008
411,tt1386588,100000000,170432927,The Other Guys,Will Ferrell|Mark Wahlberg|Eva Mendes|Samuel L...,Adam McKay,When the cops are busy... Our only hope is...,NYPD detectives Christopher Danson (Johnson) a...,107,Action|Comedy|Crime,Columbia Pictures|Gary Sanchez Productions,8/6/2010,6.1,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month
data['genres'] = data['genres'].str.split('|')
data['production_companies'] = data['production_companies'].str.split('|')
data['cast'] = data['cast'].str.split('|')
data['director']  = data['director'].str.split('|')

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360,4

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# тут пишем ваш код для решения данного вопроса:
data_result = data.sort_values(['budget'], ascending=False).head(1)[['imdb_id', 'original_title']]
data_result

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [6]:
data_result = data[data.budget == data['budget'].max()][['imdb_id', 'original_title']]

answers['1'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data_result = data.sort_values(['runtime'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['2'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
data_result = data.sort_values(['runtime']).head(1)[['imdb_id', 'original_title']]

answers['3'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5']  = round(data['runtime'].median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_result = data.sort_values(['profit'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['6'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 7. Какой фильм самый убыточный?

In [12]:
data_result = data.sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

answers['7'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = len(data.query('profit>0').index)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
data_result = data.query('release_year==2008').sort_values(['revenue'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['9'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
data_result = data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

answers['10'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 11. Какого жанра фильмов больше всего?

In [16]:
genres_counter = Counter()

def genres_counter_func(genres):
    for genre in genres:
        genres_counter[genre] += 1

data['genres'].apply(genres_counter_func)

answers['11'] = genres_counter.most_common()[0][0]

ВАРИАНТ 2

In [17]:
data.explode('genres')['genres'].value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
data_profitable = data[data['profit'] > 0][:]
answers['12'] = pd.Series(data_profitable['genres'].sum()).value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [19]:
answers['13'] = (data.explode('director').pivot_table(values=['profit'], index=['director'], aggfunc='sum')
        .sort_values(['profit'], ascending=False)
        .index[0])

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
answers['14'] = (data
     .explode('genres')
     .explode('director')
     .query('genres=="Action"')
     .groupby(['director'])['director']
     .agg('count')
     .sort_values(ascending=False)
     .index[0])

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
actor_counter = Counter()

def count_actor_revenue(row):
    for actor in row['cast']:
        actor_counter[actor] += row['revenue']

data[data['release_year'] == 2012].apply(count_actor_revenue, axis=1)

answers['15'] = actor_counter.most_common()[0][0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
data_in_top = data[data['budget'] > data['budget'].mean()]
answers['16'] = pd.Series(data_in_top['cast'].sum()).value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
nicolas_cage_data = data.explode('cast').query('cast=="Nicolas Cage"')
answers['17'] = pd.Series(nicolas_cage_data['genres'].sum()).value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
pramount_pictures_data = data.explode('production_companies').query('production_companies=="Paramount Pictures"')

most_unprofitable_data = pramount_pictures_data[pramount_pictures_data['profit'] == pramount_pictures_data['profit'].min()]

answers['18'] = f"{most_unprofitable_data['original_title'].values[0]} ({most_unprofitable_data['imdb_id'].values[0]})"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
answers['19'] = (data
                 .groupby(['release_year'])
                 .agg({'revenue': sum})
                 .sort_values('revenue', ascending=False)
                 .index[0])

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
data_warner_bros = data.explode('production_companies').query('production_companies.str.contains("Warner Bros")', engine='python')

answers['20'] = (data_warner_bros
                 .groupby(['release_year'])
                 .agg({'profit': sum})
                 .sort_values('profit', ascending=False)
                 .index[0])

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
answers['21'] = data['month'].value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
answers['22'] = len(data[data['month'].isin([6, 7, 8])].index)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = pd.Series(data[data['month'].isin([12, 1, 2])]['director'].sum()).value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data_prod_stud = data.copy()
data_prod_stud['title_len'] = data_prod_stud['original_title'].str.len()

answers['24'] = (data_prod_stud
     .explode('production_companies')
     .groupby('production_companies')
     .agg({'title_len': 'mean'})
     .sort_values(['title_len'], ascending=False)
     .index[0])

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
data_prod_stud['overview_words_count'] = data_prod_stud['overview'].str.split().apply(len)

answers['25'] = (data_prod_stud
    .explode('production_companies')
    .groupby('production_companies')
    .agg({'overview_words_count': 'mean'})
    .sort_values(['overview_words_count'], ascending=False)
    .index[0])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
data.sort_values('vote_average', ascending=False).iloc[:(len(data.index)//100)]['original_title'].values

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object)

In [33]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
from itertools import combinations

comb_counter = Counter()

for actors in data['cast']:
    for c in list(combinations(actors, 2)):
        comb_counter[c] += 1

most_common_together = comb_counter.most_common()[0][0]

answers['27'] = f"{most_common_together[0]} & {most_common_together[1]}"

ВАРИАНТ 2

In [35]:
comb_dict = {}

def count_combinations(artists):
    for artist in list(combinations(artists, 2)):
        comb_dict.setdefault(artist, 0)
        comb_dict[artist] += 1

data['cast'].apply(count_combinations)

most_common_together = sorted(comb_dict.items(), key=lambda kv: kv[1], reverse=True)[0][0]

answers['27'] = f"{most_common_together[0]} & {most_common_together[1]}"

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27