In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./../data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1766,tt0498399,21000000,54926886,We Own the Night,Joaquin Phoenix|Eva Mendes|Alex Veadov|Mark Wa...,James Gray,Two brothers on opposite sides of the law. Bey...,A New York nightclub manager tries to save his...,117,Drama|Crime|Thriller,Columbia Pictures|Industry Entertainment|2929 ...,5/25/2007,6.4,2007
754,tt1436562,90000000,484635760,Rio,Jesse Eisenberg|Anne Hathaway|Leslie Mann|Jane...,Carlos Saldanha,1 out of every 8 Americans is afraid of flying...,Captured by smugglers when he was just a hatch...,96,Animation|Adventure|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animation,4/3/2011,6.5,2011
1212,tt1091191,40000000,149295601,Lone Survivor,Mark Wahlberg|Taylor Kitsch|Emile Hirsch|Ben F...,Peter Berg,Based on True Acts of Courage,"Based on the failed June 28, 2005 mission ""Ope...",121,Action|Drama|Thriller|War,Universal Pictures|Weed Road Pictures|Herrick ...,12/24/2013,7.4,2013
1560,tt0304141,130000000,789804554,Harry Potter and the Prisoner of Azkaban,Daniel Radcliffe|Rupert Grint|Emma Watson|Gary...,Alfonso CuarÃ³n,Something wicked this way comes.,"Harry, Ron and Hermione return to Hogwarts for...",141,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films|P of A...,5/31/2004,7.4,2004
1558,tt0376994,210000000,234360014,X-Men: The Last Stand,Hugh Jackman|Halle Berry|Ian McKellen|Patrick ...,Brett Ratner,Take a Stand,"When a cure is found to treat mutations, lines...",104,Adventure|Action|Science Fiction|Thriller,20th Century Fox,5/24/2006,6.2,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# тут пишем ваш код для решения данного вопроса:
data_result = data.sort_values(['budget'], ascending=False).head(1)[['imdb_id', 'original_title']]
data_result

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [6]:
data_result = data[data.budget == data['budget'].max()][['imdb_id', 'original_title']]

answers['1'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data_result = data.sort_values(['runtime'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['2'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
data_result = data.sort_values(['runtime']).head(1)[['imdb_id', 'original_title']]

answers['3'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5']  = round(data['runtime'].median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_result = data.sort_values(['profit'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['6'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 7. Какой фильм самый убыточный?

In [12]:
data_result = data.sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

answers['7'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = len(data.query('profit>0').index)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
data_result = data.query('release_year==2008').sort_values(['revenue'], ascending=False).head(1)[['imdb_id', 'original_title']]

answers['9'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
data_result = data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

answers['10'] = f"{data_result['original_title'].values[0]} ({data_result['imdb_id'].values[0]})"

# 11. Какого жанра фильмов больше всего?

In [16]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_counter = Counter()
for genres in data['genres']:
    for genre in genres.split('|'):
        genres_counter[genre] += 1

answers['11'] = genres_counter.most_common()[0][0]

ВАРИАНТ 2

In [17]:
genres = set()
data['genres'].apply(lambda x: genres.update(x.split('|')))

movies = data['imdb_id']

genres_data = pd.DataFrame(columns=genres, index=movies)

def f(row):
    for genre in row['genres'].split('|'):
        genres_data[genre][row['imdb_id']] = 1

data.apply(f, axis=1)

genres_data.sum().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
data_profitable = data[data['profit'] > 0][:]
data_profitable['genres'] = data_profitable['genres'].str.split('|')
answers['12'] = pd.Series(data_profitable['genres'].sum()).value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [19]:
answers['13'] = (data.pivot_table(values=['profit'], index=['director'], aggfunc='sum')
        .sort_values(['profit'], ascending=False)
        .index[0])

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
director_counter = Counter()

def count_directors(directors):
    for director in directors.split('|'):
        director_counter[director] += 1

data[data['genres'].str.contains('Action')]['director'].apply(count_directors)

answers['14'] = director_counter.most_common()[0][0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
actor_counter = Counter()

def count_actor_revenue(row):
    for actor in row['cast'].split('|'):
        actor_counter[actor] += row['revenue']

data[data['release_year'] == 2012].apply(count_actor_revenue, axis=1)

answers['15'] = actor_counter.most_common()[0][0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
data_in_top = data[data['budget'] > data['budget'].mean()]
data_cast = data_in_top[:]
data_cast['cast'] = data_in_top['cast'].apply(lambda x: x.split('|'))
answers['16'] = pd.Series(data_cast['cast'].sum()).value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
answers['17'] = pd.Series(data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|').sum()).value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
data_paramount_movies = data[data['production_companies'].str.contains('Paramount Pictures')]
data_paramount_movies_most_unprofitable = data_paramount_movies[data_paramount_movies['profit'] == data_paramount_movies['profit'].min()]
answers['18'] = f"{data_paramount_movies_most_unprofitable['original_title'].values[0]} ({data_paramount_movies_most_unprofitable['imdb_id'].values[0]})"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
answers['19'] = data.groupby(['release_year']).agg({'revenue': sum}).sort_values('revenue', ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
data_warner_bros = data[data['production_companies'].str.contains('Warner Bros')]
answers['20'] = data_warner_bros.groupby(['release_year']).agg({'profit': sum}).sort_values('profit', ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
data_month = data[:]
data_month['release_date'] = pd.to_datetime(data['release_date'])
data_month['month'] = pd.DatetimeIndex(data_month['release_date']).month

answers['21'] = data_month['month'].value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
answers['22'] = len(data_month[data_month['month'].isin([6, 7, 8])].index)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = pd.Series(data_month[data_month['month'].isin([12, 1, 2])]['director'].str.split('|').sum()).value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data_prod_stud = data.copy()
data_prod_stud['production_companies'] = data['production_companies'].str.split('|')
data_prod_stud['title_len'] = data_prod_stud['original_title'].str.len()

answers['24'] = (data_prod_stud
     .explode('production_companies')
     .groupby('production_companies')
     .agg({'title_len': 'mean'})
     .sort_values(['title_len'], ascending=False)
     .index[0])

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
data_prod_stud['overview_words_count'] = data_prod_stud['overview'].str.split().apply(len)
answers['25'] = (data_prod_stud
    .explode('production_companies')
    .groupby('production_companies')
    .agg({'overview_words_count': 'mean'})
    .sort_values(['overview_words_count'], ascending=False)
    .index[0])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
data.sort_values('vote_average', ascending=False).iloc[:(len(data.index)//100)]['original_title'].values

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [32]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [33]:
# и убедиться что ни чего не пропустил)
len(answers)

25