In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./../data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1570,tt0343660,75000000,196482882,50 First Dates,Adam Sandler|Drew Barrymore|Rob Schneider|Sean...,Peter Segal,Imagine having to win over the girl of your dr...,Henry is a player skilled at seducing women. B...,99,Comedy|Romance,Columbia Pictures Corporation|Happy Madison Pr...,2/13/2004,6.5,2004
789,tt1601913,25000000,77278331,The Grey,Liam Neeson|Dermot Mulroney|Frank Grillo|Dalla...,Joe Carnahan,Live or Die on This Day,An oil drilling team struggles to survive afte...,117,Action|Drama|Thriller,Scott Free Productions|1984 Private Defense Co...,12/11/2011,6.3,2011
1823,tt0181984,26000000,28780255,Boiler Room,Giovanni Ribisi|Vin Diesel|Nia Long|Tom Everet...,Ben Younger,Welcome to the new American dream.,A college dropout gets a job as a broker for a...,118,Crime|Drama|Thriller,New Line Cinema,2/18/2000,6.5,2000
1740,tt0498353,10200000,35619521,Hostel: Part II,Lauren German|Bijou Phillips|Heather Matarazzo...,Eli Roth,Americans...they have no imagination.,"Following a geographical tour of Slovakia, thr...",93,Horror,Lions Gate Films|Next Entertainment|Screen Gems,6/8/2007,5.6,2007
160,tt1253863,110000000,337580051,300: Rise of an Empire,Sullivan Stapleton|Eva Green|Lena Headey|Calla...,Noam Murro,Seize your glory!,Based on Frank Miller's latest graphic novel X...,102,Action|War,Legendary Pictures|Hollywood Gang Productions|...,3/5/2014,6.1,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
max_budget = data.budget.max()
data[data.budget == max_budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [9]:
data.sort_values(['runtime'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [11]:
data.sort_values(['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' # +

In [13]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' # +

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)' # +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [19]:
data.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' # +

In [21]:
len(data.query('profit>0').index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [23]:
data.query('release_year==2008').sort_values(['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [25]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [39]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_counter = Counter()
for genres in data['genres']:
    for genre in genres.split('|'):
        genres_counter[genre] += 1

genres_counter.most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [41]:
genres = set()
data['genres'].apply(lambda x: genres.update(x.split('|')))

movies = data['imdb_id']

genres_data = pd.DataFrame(columns=genres, index=movies)

def f(row):
    for genre in row['genres'].split('|'):
        genres_data[genre][row['imdb_id']] = 1

data.apply(f, axis=1)

genres_data.sum().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Comedy'

In [42]:
profit_counter = Counter()

def count_profit(row):
    for genre in row['genres'].split('|'):
        if row['profit'] > 0:
            profit_counter[genre] += 1
        else:
            profit_counter[genre] -= 1

data[['genres', 'profit']].apply(count_profit, axis=1)

profit_counter.most_common()[0][0]

'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson'

In [32]:
(data.pivot_table(values=['profit'], index=['director'], aggfunc='sum')
        .sort_values(['profit'], ascending=False)
        .index[0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [70]:
answers['14'] = 'Robert Rodriguez'

In [71]:
director_counter = Counter()

def count_directors(directors):
    for director in directors.split('|'):
        director_counter[director] += 1

data[data['genres'].str.contains('Action')]['director'].apply(count_directors)

director_counter.most_common()[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
cast = set()

data[data['release_year'] == 2012]['cast'].str.split('|').apply(lambda x: cast.update(x))

{'50 Cent',
 'Aaron Taylor-Johnson',
 'Aasif Mandvi',
 'Abbie Cornish',
 'Adam Sandler',
 'Adelaide Clemens',
 'Adil Hussain',
 'Adrianne Palicki',
 'Alan Arkin',
 'Alec Baldwin',
 'Alex Pettyfer',
 'Alex Russell',
 'Alexander Asefa',
 'Alexander SkarsgÃ¥rd',
 'Alice Eve',
 'Alisa Khazanova',
 'Alison Brie',
 'Allison Janney',
 'Alyson Hannigan',
 'Amanda Seyfried',
 'Amy Adams',
 'Andrew Garfield',
 'Andy GarcÃ\xada',
 'Andy Samberg',
 'Andy Serkis',
 'Anna Camp',
 'Anna Faris',
 'Anna Hutchison',
 'Anna Kendrick',
 'Anna Wood',
 'Anne Hathaway',
 'Anthony Mackie',
 'Armie Hammer',
 'Arnold Schwarzenegger',
 'Aryana Engineer',
 'Ashley Greene',
 'Ayush Tandon',
 'Bailee Madison',
 'Ben Affleck',
 'Ben Foster',
 'Ben Mendelsohn',
 'Ben Stiller',
 'Benicio del Toro',
 'Benjamin Walker',
 'Bette Midler',
 'Bill Murray',
 'Bill Nighy',
 'Bill Paxton',
 'Billy Connolly',
 'Billy Crystal',
 'Blake Lively',
 'Brad Pitt',
 'Bradley Cooper',
 'Brady Allen',
 'Brendan Gleeson',
 'Brian Blessed',
 'Brie Larson',
 'Brit Marling',
 'Brittany Snow',
 'Brooklyn Decker',
 'Bruce Willis',
 'Bryan Cranston',
 'Cameron Diaz',
 'Carmen Ejogo',
 'Caroline Goodall',
 'Carrie-Anne Moss',
 'Casey Affleck',
 'Cate Blanchett',
 'Catherine Chan',
 "Catherine O'Hara",
 'Cee Lo Green',
 'Channing Tatum',
 'Charlie Tahan',
 'Charlize Theron',
 'Chelsea Handler',
 'Chris Diamantopoulos',
 'Chris Evans',
 'Chris Hemsworth',
 'Chris Klein',
 'Chris Pine',
 'Chris Pratt',
 'Chris Rock',
 'Chris Sarandon',
 'Chris Tucker',
 'Chris Wedge',
 'Christian Bale',
 'Christoph Waltz',
 'Christopher Walken',
 'CiarÃ¡n Hinds',
 'Clark Duke',
 'Cliff Curtis',
 'Cody Horn',
 'Colin Farrell',
 'Cuba Gooding Jr.',
 'Dane DeHaan',
 'Dania Ramirez',
 'Daniel Craig',
 'Daniel Radcliffe',
 'Daniela Ruah',
 'Danielle Panabaker',
 'Danny DeVito',
 'Danny Huston',
 'Dave Franco',
 'David Harbour',
 'David Koechner',
 'David Oyelowo',
 'David Schwimmer',
 'David Spade',
 'Dax Flame',
 'Debbie Reynolds',
 'Denis Leary',
 'Dennis Quaid',
 'Denzel Washington',
 'Derek Luke',
 'Dermot Mulroney',
 'Devon Bostick',
 'Diego Boneta',
 'Dolph Lundgren',
 'Dominic Cooper',
 'Drew Barrymore',
 'Dwayne Johnson',
 'Ed Harris',
 'Ed Helms',
 'Eddie Murphy',
 'Edgar RamÃ\xadrez',
 'Edward Burns',
 'Edward Norton',
 'Elizabeth Banks',
 'Elizabeth Reaser',
 'Ellie Kemper',
 'Emilio Rivera',
 'Emily Blunt',
 'Emma Stone',
 'Emma Thompson',
 'Emma Watson',
 'Eva Amurri Martino',
 'Eva Longoria',
 'Ewan McGregor',
 'Ezra Miller',
 'Famke Janssen',
 'Fran Kranz',
 'Frances McDormand',
 'Frank Grillo',
 'Garrett Hedlund',
 'Gary Oldman',
 'Gautam Belur',
 'Giancarlo Esposito',
 'Gina Carano',
 'Giovanni Ribisi',
 'Gonzalo Menendez',
 'Guy Pearce',
 'Halle Berry',
 'Heidi Hawkins',
 'Helena Bonham Carter',
 'Henry Cavill',
 'Hope Davis',
 'Hugh Grant',
 'Hugh Jackman',
 'Hugo Weaving',
 'Ian McKellen',
 'Ian McShane',
 'Idris Elba',
 'India Eisley',
 'Irrfan Khan',
 'Isabel Lucas',
 'Isla Fisher',
 'J.K. Simmons',
 'Jack McBrayer',
 'Jacki Weaver',
 'Jackie Earle Haley',
 'Jackson Nicoll',
 'Jake Gyllenhaal',
 'James Gandolfini',
 'James Hong',
 'James Kidnie',
 'Jamie Bell',
 'Jamie Chung',
 'Jamie Elman',
 'Jamie Foxx',
 'Jane Levy',
 'Jane Lynch',
 'Jared Gilman',
 'Jason Bateman',
 'Jason Biggs',
 'Jason Clarke',
 'Jason Cope',
 'Jason Segel',
 'Jason Statham',
 'Javier Bardem',
 'Jean Reno',
 'Jean Smart',
 'Jean-Luc Bilodeau',
 'Jeffrey Dean Morgan',
 'Jennifer Aniston',
 'Jennifer Lawrence',
 'Jennifer Lopez',
 'Jeremy Irons',
 'Jeremy Piven',
 'Jeremy Renner',
 'Jerry Ferrara',
 'Jesse Plemons',
 'Jesse Williams',
 'Jessica Biel',
 'Jessica Chastain',
 'Jessica Guadix',
 'Jessica Lange',
 'Jim Broadbent',
 'Jim Sturgess',
 'Joaquin Phoenix',
 'Jodelle Ferland',
 'Joel Edgerton',
 'Joel Kinnaman',
 'Joel McHale',
 'John C. Reilly',
 'John Cusack',
 'John Goodman',
 'John Krasinski',
 'John Leguizamo',
 'Johnny Depp',
 'Jonah Hill',
 'Jonathan Daniel Brown',
 'Jonny Lee Miller',
 'Joseph Gilgun',
 'Joseph Gordon-Levitt',
 'Josh Brolin',
 'Josh Duhamel',
 'Josh Hutcherson',
 'Josh Lucas',
 'Josh Pence',
 'Jude Law',
 'Judi Dench',
 'Julia Roberts',
 'Julianna Guill',
 'Julianne Hough',
 'Julie Walters',
 'Juliette Binoche',
 'Justin Theroux',
 'Kara Hayward',
 'Karl Urban',
 'Kate Beckinsale',
 'Katherine Heigl',
 'Kathryn McCormick',
 'Kathryn Newton',
 'Katie Featherston',
 'Katrina Bowden',
 'Katy Perry',
 'Kelly Macdonald',
 'Kerry Washington',
 'Kevin Hart',
 'Kevin James',
 'Kevin McKidd',
 'Kevin McNally',
 'Kirby Bliss Blanton',
 'Kirsten Dunst',
 'Kit Harington',
 'Kodi Smit-McPhee',
 'Kristen Bell',
 'Kristen Connolly',
 'Kristen Stewart',
 'Kristin Davis',
 'Kyra Sedgwick',
 'Laura Dern',
 'Lauren Ambrose',
 'Leighton Meester',
 'Lena Headey',
 'Lennie James',
 'Leonardo DiCaprio',
 'Leslie Mann',
 'Li Bingbing',
 'Liam Hemsworth',
 'Liam Neeson',
 'Lily Collins',
 'Logan Lerman',
 'Lucas Black',
 'Luis GuzmÃ¡n',
 'Luke Evans',
 'Luke Grimes',
 'Luke Pasqualino',
 'Lynn Collins',
 'Madison Davenport',
 'Maggie Grace',
 'Maggie Smith',
 'Malin Ã…kerman',
 'Marin Ireland',
 'Marisa Tomei',
 'Mark Duplass',
 'Mark Ruffalo',
 'Mark Strong',
 'Mark Wahlberg',
 'Martin Freeman',
 'Martin Klebba',
 'Martin Landau',
 'Martin Sheen',
 'Martin Short',
 'Mary Elizabeth Winstead',
 'Mary Stockley',
 'Matt Bush',
 'Matt Damon',
 'Matt Shively',
 'Matthew Fox',
 'Matthew McConaughey',
 'Maude Apatow',
 'Meagan Good',
 'Megan Boone',
 'Megan Fox',
 'Meryl Streep',
 'Mia Moretti',
 'Mia Wasikowska',
 'Michael B. Jordan',
 'Michael Caine',
 'Michael Ealy',
 'Michael Fassbender',
 'Michael Gambon',
 'Michael Kelly',
 'Michael Nyqvist',
 'Michael PeÃ±a',
 'Michael Shannon',
 'Michael Stuhlbarg',
 'Michelle Pfeiffer',
 'Michelle Rodriguez',
 'Mike Epps',
 'Mila Kunis',
 'Milla Jovovich',
 'Monica Raymund',
 'Naomi Watts',
 'Naomie Harris',
 'Natalie Martinez',
 'Natasha Calis',
 'Nathan Lane',
 'Nestor Serrano',
 'Nicolas Cage',
 'Nina Dobrev',
 'Noah Segan',
 'Noomi Rapace',
 'Oaklee Pendergast',
 'Oliver Cooper',
 'Olivia Munn',
 'Olivia Thirlby',
 'Olivia Wilde',
 'Oscar Isaac',
 'Patrick Fischler',
 'Paul Dano',
 'Paul Giamatti',
 'Paul Rudd',
 'Paula Patton',
 'Pauline Collins',
 'Peter Facinelli',
 "Peter O'Toole",
 'Peter Stormare',
 'Peyton List',
 'Philip Seymour Hoffman',
 'Rachael Harris',
 'Rachael Markarian',
 'Rachel McAdams',
 'Rachel Nichols',
 'Rachel Weisz',
 'Rade Serbedzija',
 'Radha Mitchell',
 'Ralph Fiennes',
 'Ray Liotta',
 'Ray Romano',
 'Rebel Wilson',
 'Regina Hall',
 'Rhys Ifans',
 'Richard Armitage',
 'Richard Gere',
 'Richard Jenkins',
 'Rihanna',
 'Rob LaBelle',
 'Rob Riggle',
 'Robert De Niro',
 'Robert Downey Jr.',
 'Robert John Burke',
 'Robert Pattinson',
 'Rosamund Pike',
 'Rosario Dawson',
 'Roselyn SÃ¡nchez',
 'Rosemarie DeWitt',
 'RubÃ©n Blades',
 'Rufus Sewell',
 'Russell Brand',
 'Russell Crowe',
 'Ryan Guzman',
 'Ryan Reynolds',
 'Sacha Baron Cohen',
 'Salma Hayek',
 'Sam Claflin',
 'Sam Neill',
 'Sam Riley',
 'Sam Rockwell',
 'Sam Worthington',
 'Samantha Morton',
 'Sami Gayle',
 'Samuel Joslin',
 'Samuel L. Jackson',
 'Sarah Gadon',
 'Sarah Silverman',
 'Sayed Badreya',
 'Scarlett Johansson',
 'Scoot McNairy',
 'Scott Glenn',
 'Scott Speedman',
 'Sean Bean',
 'Sean Hayes',
 'Seann William Scott',
 'Sebastian Stan',
 'Selena Gomez',
 'Seth MacFarlane',
 'Shannon Woodward',
 'Sherri Shepherd',
 'Shia LaBeouf',
 'Sidney Johnston',
 'Sienna Guillory',
 'Sigourney Weaver',
 'Skylar Astin',
 'SofÃ\xada Vergara',
 'Sprague Grayden',
 'Stacy Keach',
 'Stephen Boss',
 'Stephen Rea',
 'Steve Buscemi',
 'Steve Carell',
 'Steve Zahn',
 'Suraj Sharma',
 'Susan Sarandon',
 'Sylvester Stallone',
 'Tadanobu Asano',
 'Taylor Kitsch',
 'Taylor Lautner',
 'Taylor Swift',
 'Terrence Howard',
 'Theo James',
 'Thomas Ian Nicholas',
 'Thomas Mann',
 'Tim Roth',
 'Timothy Spall',
 'Tom Courtenay',
 'Tom Cruise',
 'Tom Everett Scott',
 'Tom Felton',
 'Tom Hanks',
 'Tom Hardy',
 'Tom Holland',
 'Tom Sturridge',
 'Tommy Lee Jones',
 'Tucker Albrizzi',
 'Tyler Perry',
 'Vanessa Hudgens',
 'Vera Farmiga',
 'VerÃ³nica Echegui',
 'Victor Garber',
 'Victoria Justice',
 "Vincent D'Onofrio",
 'Vinessa Shaw',
 'Werner Herzog',
 'Whitney Houston',
 'Will Sasso',
 'Will Smith',
 'Willem Dafoe',
 'Winona Ryder',
 'WolÃ© Parks',
 'Wood Harris',
 'Woody Harrelson',
 'Zac Efron',
 'Zachary Gordon',
 'Zoe Saldana'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [83]:
data[data['cast'].str.contains('Nicolas Cage')]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
168,tt2467046,16000000,19682924,Left Behind,Nicolas Cage|Chad Michael Murray|Lea Thompson|...,Vic Armstrong,The End Begins,A small group of survivors are left behind aft...,110,Thriller|Action|Science Fiction,Stoney Lake Entertainment,10/3/2014,3.8,2014,3682924
276,tt0448011,50000000,155446362,Knowing,Nicolas Cage|Rose Byrne|Chandler Canterbury|Be...,Alex Proyas,Knowing is everything...,A teacher opens a time capsule that has been d...,121,Action|Adventure|Drama|Mystery|Science Fiction,Summit Entertainment|Mystery Clock Cinema|Esca...,3/19/2009,5.7,2009,105446362
330,tt1095217,25000000,10589102,The Bad Lieutenant: Port of Call - New Orleans,Nicolas Cage|Eva Mendes|Val Kilmer|Fairuza Bal...,Werner Herzog,The only criminal he can't catch is himself.,"Terrence McDonagh, a New Orleans Police sergea...",122,Drama|Crime,Saturn Films|Nu Image Films|Edward R. Pressman...,9/11/2009,5.8,2009,-14410898
336,tt0375568,65000000,44091067,Astro Boy,Nicolas Cage|Kristen Bell|Bill Nighy|Donald Su...,David Bowers,Have a blast.,"Set in futuristic Metro City, Astro Boy is abo...",94,Animation|Action|Family|Science Fiction,The Weinstein Company|Summit Entertainment|Tez...,10/15/2009,6.0,2009,-20908933
386,tt1250777,28000000,96188903,Kick-Ass,Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Chris...,Matthew Vaughn,Shut up. Kick ass.,Dave Lizewski is an unnoticed high school stud...,117,Action|Crime,Lions Gate,3/22/2010,7.0,2010,68188903
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010,65283742
687,tt0814022,45000000,42487390,Bangkok Dangerous,Nicolas Cage|Shahkrit Yamnarm|Charlie Yeung|Pa...,Oxide Pang Chun|Danny Pang,There's only one way out.,"When carrying out a hit, assassin Joe (Cage) a...",99,Action|Crime|Thriller,Virtual Studios|Initial Entertainment Group|Sa...,8/21/2008,5.0,2008,-2512610
727,tt1502404,50000000,28931401,Drive Angry,Nicolas Cage|Amber Heard|William Fichtner|Bill...,Patrick Lussier,One hell of a ride.,Milton is a hardened felon who has broken out ...,105,Fantasy|Thriller|Action|Crime,Summit Entertainment|Saturn Films|Nu Image Fil...,2/24/2011,5.3,2011,-21068599
764,tt1071875,57000000,149217355,Ghost Rider: Spirit of Vengeance,Nicolas Cage|CiarÃ¡n Hinds|Violante Placido|Fe...,Mark Neveldine|Brian Taylor,He Rides Again.,When the devil resurfaces with aims to take ov...,95,Action|Fantasy|Thriller,Columbia Pictures|Imagenation Abu Dhabi FZ|Mar...,12/10/2011,4.7,2011,92217355
784,tt0479997,40000000,88100000,Season of the Witch,Nicolas Cage|Ron Perlman|Ulrich Thomsen|Christ...,Dominic Sena,Not all souls can be saved.,A 14th century Crusader (Cage) returns with hi...,95,Adventure|Fantasy|Action,Atlas Entertainment|Relativity Media,1/7/2011,5.2,2011,48100000
825,tt1674784,36000000,9612469,Trespass,Nicolas Cage|Nicole Kidman|Liana Liberato|Cam ...,Joel Schumacher,When terror is at your doorstep. You can run. ...,Kyle (Nicholas Cage) and Sarah Miller (Nicole ...,91,Crime|Drama|Thriller,Nu Image Films|Winkler Films|Millennium Films,10/14/2011,5.3,2011,-26387531
833,tt1214962,17000000,12355798,Seeking Justice,Nicolas Cage|Guy Pearce|January Jones|Jennifer...,Roger Donaldson,Vengeance always has a price,"After his wife is assaulted, a husband enlists...",105,Action|Drama|Thriller,Endgame Entertainment|Maguire Entertainment|Ra...,9/2/2011,5.9,2011,-4644202
914,tt0268126,19000000,32801173,Adaptation.,Nicolas Cage|Meryl Streep|Chris Cooper|Tilda S...,Spike Jonze,Charlie Kaufman writes the way he lives... Wit...,A love-lorn script writer grows increasingly d...,114,Comedy|Crime|Drama,Columbia Pictures|Beverly Detroit|Propaganda F...,12/6/2002,7.2,2002,13801173
921,tt0245562,115000000,77628265,Windtalkers,Nicolas Cage|Adam Beach|Peter Stormare|Noah Em...,John Woo,Honor Was Their Code.,Joe Enders is a gung-ho Marine assigned to pro...,134,Drama|Action|History|War,Lion Rock Productions|Metro-Goldwyn-Mayer (MGM),6/14/2002,5.9,2002,-37371735
1033,tt1656186,35000000,2106557,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Action|Crime|Drama|Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013,450178928
1280,tt2005374,27220000,5496951,The Frozen Ground,Nicolas Cage|Vanessa Hudgens|John Cusack|Radha...,Scott Walker,The hunter becomes the hunted,An Alaska State Trooper partners with a young ...,105,Thriller|Crime,Grindstone Entertainment Group|Cheetah Vision|...,7/18/2013,6.2,2013,-21723049
1346,tt0399295,42000000,24127895,Lord of War,Nicolas Cage|Bridget Moynahan|Jared Leto|Ethan...,Andrew Niccol,"Where there's a will, there's a weapon","Yuri Orlov is a globetrotting arms dealer and,...",122,Crime|Drama|Thriller,Saturn Films|Ascendant Pictures|Endgame Entert...,9/16/2005,6.9,2005,-17872105
1390,tt0384680,20000000,12482775,The Weather Man,Nicolas Cage|Michael Caine|Hope Davis|Gemmenne...,Gore Verbinski,Dave Spritz is about to take his best shot . ....,"A Chicago weather man, separated from his wife...",101,Comedy|Drama,Paramount Pictures|Escape Artists|Kumar Mobili...,10/20/2005,5.7,2005,-7517225
1473,tt0429589,50000000,55181129,The Ant Bully,Julia Roberts|Meryl Streep|Nicolas Cage|Paul G...,John A. Davis,The battle for the lawn is on.,Fed up with being targeted by the neighborhood...,88,Fantasy|Adventure|Animation|Comedy|Family,Warner Bros. Pictures|DNA Films|Legendary Pict...,7/27/2006,5.5,2006,5181129
1509,tt0469641,63000000,162945894,World Trade Center,Nicolas Cage|Maria Bello|Maggie Gyllenhaal|Mic...,Oliver Stone,The World Saw Evil That Day. Two Men Saw Somet...,"On September, 11th 2001, after the terrorist a...",128,Drama|History|Thriller,Paramount Pictures|Double Feature Films|Interm...,8/9/2006,5.9,2006,99945894
1568,tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004,247451894
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007,327363168
1683,tt0259324,110000000,228738393,Ghost Rider,Nicolas Cage|Eva Mendes|Wes Bentley|Donal Logu...,Mark Steven Johnson,Hell Is About To Be Unleashed,"In order to save his dying father, young stunt...",114,Thriller|Action|Fantasy|Horror,Columbia Pictures Corporation|Relativity Media...,2/16/2007,5.2,2007,118738393
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1818,tt0187078,90000000,237202299,Gone In Sixty Seconds,Nicolas Cage|Angelina Jolie|Giovanni Ribisi|De...,Dominic Sena,"Ice Cold, Hot Wired.",Upon learning that he has to come out of retir...,118,Action|Crime|Thriller,Jerry Bruckheimer Films|Touchstone Pictures,6/9/2000,6.0,2000,147202299
1838,tt0218967,60000000,124745083,The Family Man,Nicolas Cage|TÃ©a Leoni|Don Cheadle|Saul Rubin...,Brett Ratner,What if you made different choices? What if yo...,"Jack's lavish, fast-paced lifestyle changes on...",125,Comedy|Drama|Romance|Fantasy,Universal Pictures,12/12/2000,6.4,2000,64745083

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': ''}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

14