In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./../data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1105,tt0325710,140000000,456758981,The Last Samurai,Tom Cruise|Ken Watanabe|William Atherton|Chad ...,Edward Zwick,"In the face of an enemy, in the Heart of One M...",Nathan Algren is an American hired to instruct...,154,Drama|Action|War|History,Cruise/Wagner Productions|Warner Bros.|Radar P...,12/5/2003,7.1,2003
574,tt0181739,75000000,13596911,Osmosis Jones,Chris Rock|Laurence Fishburne|David Hyde Pierc...,Bobby Farrelly|Peter Farrelly,Every BODY needs a hero,"A policeman white blood cell, with the help of...",95,Adventure|Animation|Action|Comedy|Family,Conundrum Entertainment|Warner Bros. Animation...,8/7/2001,5.6,2001
1040,tt1596365,17000000,127730736,The Woman in Black,Daniel Radcliffe|CiarÃ¡n Hinds|Sidney Johnston...,James Watkins,What did they see?,"The story follows a young lawyer, Arthur Kipps...",95,Drama|Horror|Thriller,Hammer Film Productions|UK Film Council|Allian...,2/1/2012,6.1,2012
787,tt1093357,30000000,64626786,The Darkest Hour,Emile Hirsch|Rachael Taylor|Olivia Thirlby|Joe...,Chris Gorak,Survive The Holidays,The story tells of a group of young people who...,89,Horror|Action|Thriller|Science Fiction,Summit Entertainment|Regency Enterprises|Bazel...,12/25/2011,4.7,2011
1200,tt1731141,110000000,125537191,Ender's Game,Asa Butterfield|Harrison Ford|Hailee Steinfeld...,Gavin Hood,This is not a game.,Based on the classic novel by Orson Scott Card...,114,Science Fiction|Action|Adventure,Summit Entertainment|Chartoff Productions|Odd ...,10/23/2013,6.6,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)
data['profit'] = data['revenue'] - data['budget']

data['genres'] = data.apply(lambda row: set(row.genres.split('|')), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"{Action, Adventure, Fantasy}",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
max_budget = data.budget.max()
data[data.budget == max_budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"{Action, Adventure, Fantasy}",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [9]:
data.sort_values(['runtime'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"{Drama, History, War}",Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [11]:
data.sort_values(['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"{Animation, Family}",Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' # +

In [13]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' # +

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)' # +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"{Action, Science Fiction, Adventure, Fantasy}",Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [19]:
data.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"{Action, Western, Adventure}",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' # +

In [21]:
len(data.query('profit>0').index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [23]:
data.query('release_year==2008').sort_values(['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"{Thriller, Drama, Action, Crime}",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [25]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"{Action, Western, Adventure}",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_counter = Counter()
for movie_genres in data['genres']:
    for genre in movie_genres:
        genres_counter[genre] += 1

genres_counter.most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [28]:
# data['genres'].str.split('|', expand=True).stack().unique()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
# genres_profit = {}
# data.query('profit>0')['genres', 'profit']
data.describe(include=['O'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,369,1624,1435
top,tt0376136,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,One ordinary couple. One little white lie.,The fiancÃ© of an African-American woman who's...,{Comedy},New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

In [30]:
data['genres'].value_counts()

{Comedy}                                                 141
{Drama}                                                  102
{Romance, Comedy}                                         68
{Romance, Drama, Comedy}                                  64
{Romance, Drama}                                          50
{Drama, Comedy}                                           46
{Thriller, Action, Crime}                                 43
{Drama, Thriller, Crime}                                  41
{Horror, Thriller}                                        35
{Action, Science Fiction, Adventure}                      31
{Thriller, Drama, Action, Crime}                          30
{Drama, Thriller}                                         29
{Animation, Family, Comedy, Adventure}                    25
{Thriller, Action, Science Fiction, Adventure}            25
{Thriller, Action, Science Fiction}                       23
{Family, Comedy}                                          23
{Horror}                                                  23
{Animation, Family, Comedy}                               21
{Action, Adventure, Fantasy}                              21
{Family, Adventure, Fantasy}                              20
{Drama, Thriller, Mystery}                                20
{Animation, Family}                                       19
{Drama, Crime}                                            18
{Thriller, Action}                                        17
{Thriller, Drama, Action}                                 16
{Action}                                                  16
{Drama, History}                                          16
{Drama, Thriller, Mystery, Crime}                         16
{Action, Comedy}                                          14
{Horror, Thriller, Mystery}                               14
                                                        ...
{Romance, Drama, Action, Adventure}                        1
{Horror, Thriller, Comedy}                                 1
{Adventure, Animation, Music, Comedy, Action}              1
{Animation, Comedy, Science Fiction, Family, Action}       1
{Romance, Drama, Adventure}                                1
{Western, Adventure}                                       1
{Drama, Music, Adventure, Fantasy}                         1
{Western, Animation, Music, Comedy, Family}                1
{Animation, Drama}                                         1
{Thriller, Action, War}                                    1
{Horror, Drama, Comedy}                                    1
{Adventure, Drama, Comedy, Romance, Mystery}               1
{Adventure, Fantasy, Drama, Comedy, Science Fiction}       1
{History, Western, War}                                    1
{Animation, Family, Action, Science Fiction}               1
{Music, Drama, Comedy, Romance, Family}                    1
{Animation, Family, Fantasy}                               1
{History, War, Adventure}                                  1
{Comedy, Music, War}                                       1
{Animation, Family, Action, Comedy}                        1
{Adventure, Fantasy, Comedy, Science Fiction, Family}      1
{Horror, Action, Adventure}                                1
{Mystery, Science Fiction, Adventure}                      1
{Family, Science Fiction, Adventure}                       1
{Drama, Western}                                           1
{Drama, Comedy, War}                                       1
{Drama, Action, Crime, Adventure}                          1
{Adventure, Drama, Comedy, Family, Action}                 1
{Horror, Adventure, Fantasy, Science Fiction, Action}      1
{Romance, Comedy, Science Fiction, Fantasy}                1
Name: genres, Length: 369, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [31]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

In [32]:
# и убедиться что ни чего не пропустил)
len(answers)

11