In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./../data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1815,tt0165929,25000000,91036760,Romeo Must Die,Jet Li|Aaliyah|Isaiah Washington|Russell Wong|DMX,Andrzej Bartkowiak,"In the city ruled by criminals, two families h...",Two warring gang families (one African-America...,115,Action|Crime|Thriller,Silver Pictures|Warner Bros.,3/20/2000,5.8,2000
879,tt0289043,5000000,82719885,28 Days Later...,Cillian Murphy|Naomie Harris|Noah Huntley|Chri...,Danny Boyle,His fear began when he woke up alone. His terr...,Twenty-eight days after a killer virus was acc...,113,Horror|Thriller|Science Fiction,DNA Films|British Film Council,10/31/2002,6.9,2002
1624,tt0358135,50000000,170128460,Shall We Dance?,Richard Gere|Jennifer Lopez|Susan Sarandon|Lis...,Peter Chelsom,Step out of the ordinary,"A romantic comedy where a bored, overworked Es...",107,Drama|Romance|Comedy,Miramax Films,10/15/2004,5.8,2004
614,tt0489099,85000000,222231186,Jumper,Hayden Christensen|Jamie Bell|Samuel L. Jackso...,Doug Liman,anywhere is possible.,"David Rice is a man who knows no boundaries, a...",88,Adventure|Fantasy|Science Fiction,Dune Entertainment|Hypnotic|New Regency Pictures,2/10/2008,5.9,2008
1589,tt0346156,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,9/17/2004,5.7,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(['budget'], ascending=False).head(1)[['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data[data.budget == data['budget'].max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [9]:
data.sort_values(['runtime'], ascending=False).head(1)[['imdb_id', 'original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [11]:
data.sort_values(['runtime']).head(1)[['imdb_id', 'original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110' # +

In [13]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' # +

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)' # +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.sort_values(['profit'], ascending=False).head(1)[['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [19]:
data.sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' # +

In [21]:
len(data.query('profit>0').index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [23]:
data.query('release_year==2008').sort_values(['revenue'], ascending=False).head(1)[['imdb_id', 'original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [25]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit']).head(1)[['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'  # +

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_counter = Counter()
for genres in data['genres']:
    for genre in genres.split('|'):
        genres_counter[genre] += 1

genres_counter.most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [28]:
genres = set()
data['genres'].apply(lambda x: genres.update(x.split('|')))

movies = data['imdb_id']

genres_data = pd.DataFrame(columns=genres, index=movies)

def f(row):
    for genre in row['genres'].split('|'):
        genres_data[genre][row['imdb_id']] = 1

data.apply(f, axis=1)

genres_data.sum().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'

In [30]:
data_profitable = data[data['profit'] > 0][:]
data_profitable['genres'] = data_profitable['genres'].str.split('|')
pd.Series(data_profitable['genres'].sum()).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson'  # +

In [32]:
(data.pivot_table(values=['profit'], index=['director'], aggfunc='sum')
        .sort_values(['profit'], ascending=False)
        .index[0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez'  # +

In [34]:
director_counter = Counter()

def count_directors(directors):
    for director in directors.split('|'):
        director_counter[director] += 1

data[data['genres'].str.contains('Action')]['director'].apply(count_directors)

director_counter.most_common()[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth'  # +

In [36]:
actor_counter = Counter()

def count_actor_revenue(row):
    for actor in row['cast'].split('|'):
        actor_counter[actor] += row['revenue']

data[data['release_year'] == 2012].apply(count_actor_revenue, axis=1)

actor_counter.most_common()[0][0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon'  # +

In [38]:
data_in_top = data[data['budget'] > data['budget'].mean()]
data_cast = data_in_top[:]
data_cast['cast'] = data_in_top['cast'].apply(lambda x: x.split('|'))
pd.Series(data_cast['cast'].sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action'  # +

In [40]:
pd.Series(data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|').sum()).value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [42]:
data_paramount_movies = data[data['production_companies'].str.contains('Paramount Pictures')]
data_paramount_movies_most_unprofitable = data_paramount_movies[data_paramount_movies['profit'] == data_paramount_movies['profit'].min()]
data_paramount_movies_most_unprofitable[['imdb_id', 'original_title']]

       imdb_id        original_title
925  tt0267626  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015' # +

In [44]:
data.groupby(['release_year']).agg({'revenue': sum}).sort_values('revenue', ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014' # +

In [46]:
data_warner_bros = data[data['production_companies'].str.contains('Warner Bros')]
data_warner_bros.groupby(['release_year']).agg({'profit': sum}).sort_values('profit', ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '9' # +

In [48]:
data_month = data[:]
data_month['release_date'] = pd.to_datetime(data['release_date'])
data_month['month'] = pd.DatetimeIndex(data_month['release_date']).month
data_month['month'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450' # +

In [50]:
len(data_month[data_month['month'].isin([6, 7, 8])].index)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
answers['23'] = 'Peter Jackson'

In [60]:
pd.Series(data_month[data_month['month'].isin([12, 1, 2])]['director'].str.split('|').sum()).value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [51]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450'}

In [52]:
# и убедиться что ни чего не пропустил)
len(answers)

22